.header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;

}
.header__ttl {
    padding: 10px;
    margin: 0px 0px 0px 20px;
}

.header__logo {
    color: white;
    text-decoration: none;
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.header__links {
    display: flex;
}

.form {
    margin: 0;
    padding: 20px 10px 10px 10px;
}

.search-form {
    margin: 10px;
}

.search-form__item-input {
    /* width: 100%; */
    padding: 10px 140px 10px 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form__button-login {
    font-size: 18px;
    font-family: 'Hiragino Kaku Gothic ProN';
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.form__button-logout {
    font-size: 18px;
    font-family: 'Hiragino Kaku Gothic ProN';
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.link_mypage, .link_sell {
    text-decoration: none;
}

.link_mypage {
    font-size: 18px;
    padding: 20px 10px 10px 10px;
    color: #fff;
}

.link_sell {
    width: 10px;
    background-color: white;
    color: #000;
    border: #000;
    border-radius: 3px;
    padding-top: 5px;
    margin: 15px 20px 10px 10px;
    text-align: center;
    width: 70px;
}