.mail-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail-content__button {
    margin: 20px 0px;
}

.button-navigation {
    text-decoration: none;
    background-color: gray;
    color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}