.header {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;

}

.header__ttl {
    padding: 10px;
    margin: 0px 0px 0px 20px;
}

.header__logo {
    color: white;
    text-decoration: none;
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.link_email {
    text-decoration: none;
    width: 10px;
    background-color: white;
    color: #000;
    border: #000;
    border-radius: 3px;
    padding-top: 5px;
    margin: 15px 20px 10px 10px;
    text-align: center;
    width: 70px;
}